/build
google-services.json

##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*

bin/
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar

.vscode/
.code-workspace